/*styleSheet*/
.navsty{border-bottom: 2px solid #ddd;}
li{display: inline; }

/** other styles **/
body{background-color: #bdd; color: ; font-family: "Inconsolata";}

div{height: 50%;  
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0; 
	}

a{text-decoration:none; color:#000;}

.ptext{font-size:18.5px;}
