/*styleSheet*/
.navsty{border-bottom: 2px solid #ddd;}
li{display: inline; }

/**POSTS**/
.post-title{background-color: #345; color: #000; padding: 2px 0 2px 5px; font-size: 2.5em;}
.post-metadata{background-color: #b92a2f; padding: 0px 0px 0px 5px; font-size: 12px}
.post-proper{}
.gap-bottom{margin-top: 50px;}
.gap-top{margin-top: 50px;}
.invi-col{display: block; float:left; margin: 0% 0 1% 1.%;}
.fl{float: left;}
.fr{float: right;}

/** other styles **/
body{background-color: ; color: ; font-family: "Inconsolata", arial ;}

div{height: 50%;  
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0; 
	text-align:center;}

a{text-decoration:none; color:#000; font-family: arial ; font-weight: bold;}

.ptext{font-size:18.5px;}

.finally{}

/*main.html*/
.main_body{background-color: #fff; color: #999; font-family: "Inconsolata", arial ;}

div{}

a{text-decoration:none; color:#000; font-family: arial ; font-weight: bold;}

.ptext{}
.finally{}
